body{
    background-image: url("https://wallpapercave.com/wp/wp10774149.gif");
    background-attachment: scroll;
}

.emoji{
    width: 200px;
    animation: pulso 0.7s infinite ease-in-out;
}


@keyframes pulso {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); } /* Expansión del latido */
  100% { transform: scale(1); }
}

.btn-outline-primary{
    border-color: #4cb5e8;
    color: #4cb5e8;
}

.btn-outline-primary:hover{
    background-color: #4cb5e8;
    border-color: #4cb5e8;
}

.texto{
    color: #53a7c5;
}
